<%- include('../../partials/header.ejs') %>

    <div class="container my-container">
        <div class="jumbotron">
            <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, sunt.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae assumenda, praesentium aperiam
                sequi corrupti quibusdam. Unde repellendus in, ratione quod mollitia porro reiciendis impedit
                consequuntur eaque id, exercitationem placeat ab animi vero a recusandae praesentium rem harum nihil!
                Itaque, accusantium dolor tempore fugiat quos eveniet ad beatae velit ullam?</p>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>