<%- include('../../partials/header.ejs') %>

    <div class="<div class="container-fluid my-container my-5">
        <h1 class="display-1 text-center">Edit Your Profile Information</h1>
    </div>

    <%- include('../../partials/footer.ejs', ) %>

        </body>

        </html>